Django==5.1.*

djangorestframework==3.16.*

django-resized==1.0.3

django-jalali==7.4.0

django-jalali-date==2.0.0

djangorestframework-simplejwt==5.5.*      

django-cors-headers==4.9.*   

psycopg[binary]==3.2.*    

python-decouple==3.8 

requests==2.32.* 
                         
Pillow==11.3.*  
                         
django-filter==25.1
                     
drf-spectacular==0.28.*                   

celery==5.6.*

redis==8.1.*

django-celery-beat==2.7.*                 

channels==4.1.*

channels-redis==4.2.*     
                
daphne==4.1.*                             

django-allauth==64.*  

ffmpeg==1.4

django-silk==5.5.0